.navbar{
    background-color: lightgray;
}

.nav-item{
    text-align: center;
}

.nav-item:hover{
    background-color: white;
}

#main-content{
    
}

.item-tile{
    position: relative;
    background-color: lightgray;
}

h3.sub_title{
    margin-top: 5px;
    text-align: center;
}