*{
    box-sizing: border-box;
}

.navbar{
    background-color: lightgray;
}

.nav-item{
    text-align: center;
}

.nav-item:hover{
    background-color: white;
}

.item-tile{
    /* position: relative; */
    background-color: lightgray;
    width: 300px;
    margin: 0 auto 20px auto;
}

#main-title{
    margin: 20px 0 30px 0;
}

h3.sub_title{
    margin-top: 5px;
    text-align: center;
}