body{
    font-size: 16px;
    color: white;
    background-color: #61122f;
    font-family: 'Lora', serif;
}

#header-nav{
    background-color: #f6b319;
}

#logo-img{
    background-image: url(../images/restaurant-logo.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}


.pull-left{
    float: left;
}

.second-brand{
    margin-top: 10%;
}

.navbar-brand{
    padding-top: 25px;
}