body{
    font-size: 16px;
    color: white;
    background-color: #61122f;
    font-family: 'Oxygen', serif;
}

#header-nav{
    background-color: #f6b319;
}

#logo-img{
    background-image: url(../images/restaurant-logo.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}


.pull-left{
    float: left;
}

.second-brand{
    margin-top: 10%;
}

.navbar-brand{
    padding-top: 25px;
}

/* restaurant name*/
.navbar-brand h1{
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

/* want it to be clickable but not look like regular link */
.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a{
    text-decoration: none;
}
.navbar-brand p{ /*kosher cert*/
    color: #000;
    text-transform: uppercase;
    font-size: .7em; /* decrease to 70% of the default font size NOT the size inherited from body tag*/
    margin-top: 15px;   /* to separate it from the actual brand*/
}

/* want it to vertical align with the star image */
.navbar-brand p span{
    vertical-align: middle;
}

@media (max-width: 767px) {
    .unvisible-sm{
        visibility: hidden;
    }
}